
{% extends 'base.html' %}
    
{% block css %}
<style>.table {
    --bs-table-bg: linen;
    --bs-table-accent-bg: honeydew;
    --bs-table-striped-color: #212528;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212527;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 14rem;
    color: darkslategrey;
    vertical-align: baseline;
    border-color: blanchedalmond;
}
table {
    caption-side: bottom;
    border-collapse: separate;
}
</style>
{% endblock css %}


{% block body %}
    <h3 class="text-center p-3">
        <b style="color: rgb(242, 247, 250);">Uploaded Files </b>         
        <!-- {% include "notify.html" %} -->
        
    </h3>
<div class="card shadow-lg m-5">
<table class="table table-striped|sm|bordered table-inverse table-responsive">
    <thead class="thead-inverse|thead-default">
        <tr>
            <th><b>Id</b></th>   
            <th><b>File-Name</b></th>
            <th><b>File-Path</b></th>
            <th><b>File-Type</b></th>
            <th><b>User-Id</b></th>
            <th><b>Created-At</b></th>
            <th><b>Predict</b></th>
            <th><b>Delete</b></th>
        </tr>
    </thead>
    <tbody>
        {% for item in filelist %}
        <tr>
            <td >{{item.id}}</td>
            <td >{{item.filename}}</td>
            <td >{{item.filepath}}</td>
            <td >{{item.datatype}}</td>
            <td >{{item.user_id}}</td>
            <td >{{item.created_at}}</td>
            <td ><a href="/predict/{{item.id}}">Predict</a></td>
            <td ><a href="/delete/{{item.id}}">Delete</a></td>
        </tr>
        {% endfor %}    
    </tbody>    
</table>
</div>

{% endblock body %}



