{% extends 'base.html' %}

{% block css %}
{% endblock %}
{% block body %}
<style>

    .pi{
        font-family: 'Akaya Telivigala';font-size: 22px;
        color : rgb(0, 0, 0);
        margin-left: 20px;
          background-color: rgba(255, 255, 255, 0.916);
    }
    .pi1{
        font-family: 'Akaya Telivigala';font-size: 22px;
        color:rgb(16, 50, 4);
        margin-left: 20px;
        font-weight: bold;
        font-size: 28px;
        background-color: rgba(15, 211, 255, 0.951);

    }
</style>
<div class="container">
    <div class="row">
<h2><b class="pi1"> &nbsp; <u>An introduction to Time Series Forecasting</u> &nbsp; </b></h2>
 <p class="pi">Time series forecasts are used to predict a future value or a classification at a particular point in time. <br> Here’s a brief overview of their common uses and how they are developed. <br>
    Prediction with respect to time is known as Time series forecasting. <br>
Method of exploring and analyzing time-series data recorded over a set period of time.
This technique is used to forecast values and make future predictions. <br>
<br>
<b>Examples :</b>
<br>
Profit/ loss Of a Company/Institute/Business etc <br>
Forecast average expenditure <br>
Admission records <br>
Placement records <br>
Traffic Forecasting <br>
Bet Forecasting <br>
Budget Analysis<br>
It is used in  Military planning<br>
</p>
</div>

<div class="row">
<h2><b class="pi1"> &nbsp; Our Objective And Scope &nbsp; </b></h2>
<p class="pi">Our objective is to make a simple & interesting interface for user. <br>
     It can predict us an idea using previous data. <br>
     Everyone will enter their data & then see forecasting. <br>
     Our software is for any user who want to see prediction. <br>

<br>
<b>Some of the scopes are :</b>
<br>
Market and Demand Trends <br>
Weather Forecasting <br>
Sales Prediction <br>
Business Prediction <br>
Traffic Forecasting <br>
Budget Analysis<br>
</p>
</div>

<!-- <img src="/static/images/forestock.gif" width: 250px> -->
</p>
<!-- <iframe src="https://onedrive.live.com/embed?cid=E80342899EBC2DE7&resid=E80342899EBC2DE7%21110&authkey=AMFS-DpOggNJ_R8&em=2" width="300px" height="500px" frameborder="0" scrolling="no"></iframe> -->
</div>
</div>


 {% endblock %}
{% block js %}
{% endblock %}

